SECRET_KEY = 'agv=$d+=6^b%y#t9*yq@e$4*z3!aumf8lduq2rp)j(-=+8m%3e'

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': ,
        'NAME': DB_NAME,
        'USER': DB_USERNAME,
        'PASSWORD':  DB_PASSWORD,
        'HOST': 'localhost',
        # 'PORT': '',
        'OPTIONS': {
            'sql_mode': 'STRICT_ALL_TABLES'
            #             'read_default_file': os.path.join(BASE_DIR, './database.cnf'),
        }
    }
}

ALLOWED_HOSTS = []

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = ''
EMAIL_USE_TLS = ''
EMAIL_PORT = 
EMAIL_HOST_USER = EMAIL_ADDRESS_TOBE_USED
EMAIL_HOST_PASSWORD = EMAIL_PASSWORD


AZURE_ACCOUNT_NAME=''
AZURE_ACCOUNT_KEY=''
AZURE_CUSTOM_DOMAIN = f'{AZURE_ACCOUNT_NAME}.blob.core.windows.net' 